# tekton/tasks/test.yaml
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: run-tests
spec:
  workspaces:
    - name: source
  params:
    - name: DATABASE_URI
      description: Database connection string for tests
      type: string
      default: "postgresql://admin:password@postgresql:5432/accounts"
  steps:
    - name: test
      image: python:3.9-slim
      workingDir: $(workspaces.source.path)
      env:
        - name: DATABASE_URI
          value: $(params.DATABASE_URI)
      script: |
        #!/bin/sh
        pip install -r requirements.txt
        echo "Running tests with nose..."
        nosetests -v --with-coverage --cover-package=service