apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts
  labels:
    app: accounts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: accounts
  template:
    metadata:
      labels:
        app: accounts
    spec:
      containers:
      - name: accounts
        image: accounts:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: DATABASE_HOST
          value: postgresql
        - name: DATABASE_NAME
          value: accounts
        - name: DATABASE_USER
          value: admin
        - name: DATABASE_PASSWORD
          value: password
